Webpack (imports/exports)
    Babel
    Scss
    ESLint
    2 Modes
        - Dev
          Dev Serve, SourceMaps, ESLint, Not Minified JS & CSS
        - Prod
          Minified Code
Git

    Production 
      1.0.0
      ----------
    DeveLopment
      1.0.2
      1 ------------- + --- PR+
      2 ------------- |