$header-height: 34px; // определяем высоту шапки
$toolbar-height: 40px; // определяем высоту панели инструментов
$formula-height: 24px; // определяем высоту панели инструментов
$info-cell-width: 40px; // определяем ширину ячейки
$row-height: 24px; // определяем минимальный размер ячейки
$cell-width: 120px; // определяем ширину ячейки
$db-height-height: 64px; // определяем высоту досder
$border-color: #c0c0c0; // определяем цвет  inputа и т.д.
